QPushButton {
    background-color: #2b5b84;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 5px;
}

/* Hover effect for general buttons */
QPushButton:hover {
    background-color: #214769;
}

QPushButton#btn_login {
    background-color: #48C942; 
}

QPushButton#btn_login:hover {
    background-color: #369632;
}

 QPushButton#btn_logout {
    background-color: #912020;
 }

 QPushButton#btn_logout:hover {
    background-color: #DB3030;
 }

 QPushButton#btn_checkout {
    background-color: #48C942; 
 }
 QPushButton#btn_checkout:hover {
    background-color: #369632;
}
